/* Will contain elements */

@font-face {
  font-family: Shrimp;
  src: url(assets/SHRIMP.ttf);
}



.roundButton {
  margin:5px;
  border-radius: 50%;
  aspect-ratio: 1;
  width:40px;
  height: 40px;
  background-color: transparent;
  border:1px solid #951327;
  color: #951327;
  box-shadow: 2px 2px 2px #9513271d ;
  cursor: pointer;
}

.roundButton:hover {
  background-color: #951327;
  color: white;
}


header {
  display: flex;
  width:80%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header h2 {
  font-family: Shrimp;
  text-transform: uppercase;
  color: #951327;
  cursor: pointer;
}

header h2:hover{
  color: #F79285;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



h1{
  font-family: Shrimp;
  text-transform: uppercase;
}