#AddAMeal {
    text-align: center;
    padding: 40px 0;
    position: relative;
}



 #AddAMeal h2 input {
    margin-left: 8px;
    padding: 3px;
} 

 #AddAMeal form {
    padding: 10px 0;
    margin: auto;
    width:35%;
} 


#AddAMeal form input {
    margin: 0 5px;
}

@media screen and (min-width:600px) and (max-width:1025px) {
    #AddMeal form {
        width:80%;
    }
}

@media screen and (max-width:600px){
    #AddAMeal form {
        width:100%;
    }

    #AddAMeal form input {
        width:25%;
    }

    #AddAMeal #addMealButton {
        width:30%;
        left:35%
    }


}