#Authentification {
    width:80%;
    background-color: #931327;
    padding:50px 0;
    margin:40px auto;
    text-align: center;
    color: white;
    margin-bottom: 100px;
    border-radius: 8px;
}

#Authentification form label{
    display: block;
    padding: 8px 0;
    position: relative;
    width: fit-content;
    margin: auto;
}

#Authentification input {
    display: block;
}

#Authentification form label i{
    position: absolute;
    right: 8%;
    top:52%;
    cursor: pointer;
    color: black;
}


#Authentification .textButton:hover{
    background-color: #F79285;
}

#Authentification .navigateToOtherType {
    cursor: pointer;
}