.BarGraph {
    display: flex;
    margin: auto;
    padding: 5px;
    justify-content: space-between;
    width:50%;
    
}

.pie {
    width:120px;
    height:120px;
    border-radius:50%;
    margin:20px auto;
    background-image: conic-gradient(
      #2866b2 235deg,
        black
    );
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.364), inset 5px 5px 10px #0d275024;     
}

.nutrientName {
   margin-top:30px
}

  .text {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:90px;
    height:90px;
    top:15px;
    left:15px;
    background-color:white;
    border-radius:50%;
    text-align:center;
    box-shadow: 4px 4px 8px #0d275024, -2px -2px 8px rgba(255, 255, 255, 0.499);
  }



.BarGraph p {
    font-family:"segoe UI";
  font-size:1em;
  text-align:center;
}

@media screen and (max-width:850px){
  .pie{
    width:100px;
    height: 100px;
  }
  .text {
    width:70px;
    height:70px;
    top:15px;
    left:15px;
  }
}

@media screen and (max-width:600px) {
  .BarGraph {
    width: 80%;
  }
  
  
}

