.BarGraph {
    display: flex;
    margin: auto;
    padding: 5px;
    justify-content: center;
    width:50%;
    gap:10%;
}

.pie {
    width:120px;
    height:120px;
    border-radius:50%;
    margin:20px auto;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.364), inset 5px 5px 10px #470f0451;     
}

body[data-theme="light"] .pie {
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.364), inset 5px 5px 10px #470f0451; 
}

body[data-theme="dark"] .pie {
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.188), inset 5px 5px 10px #3c0c0362; 
}

.nutrientName {
   margin-top:30px
}

  .text {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:90px;
    height:90px;
    top:15px;
    left:15px;
    border-radius:50%;
    text-align:center;
  }

  body[data-theme="light"] .text {
    background-color: white;
    box-shadow: 4px 4px 8px #58140530, -2px -2px 8px rgba(255, 255, 255, 0.499);
  }

  body[data-theme="dark"] .text {
    background-color: #2A2828;
    box-shadow: 4px 4px 8px #2808016f, -2px -2px 8px rgba(255, 255, 255, 0.281);
  }


.BarGraph p {
    font-family:"segoe UI";
  font-size:1em;
  text-align:center;
}

body[data-theme="light"] .BarGraph .checkGoal {
  color : #951327;
}

body[data-theme="dark"] .BarGraph .checkGoal {
  color : #FBC46C;
}

@media screen and (max-width:850px){
  .pie{
    width:100px;
    height: 100px;
  }
  .text {
    width:70px;
    height:70px;
    top:15px;
    left:15px;
  }
}

@media screen and (max-width:600px) {
  .BarGraph {
    width: 80%;
  }
  
  
}

