/* Div */

.Day {
    display: flex;
    justify-content: center;
    gap:45px;
    margin: 20px 0;
    padding: 5px;
}


/* Buttons */

.Day button {
    width: 20px;
    border:none;
    border-radius: 50%;
    cursor: pointer;
}

.Day button:hover {
    color:white;
    background-color: darkgrey;
}

.Day p {
    margin: 0;
    text-align: center;
}

.Day p:first-child {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}