.Homepage {
    height: 100vh;
    margin-bottom: 100px;
    padding-bottom: 200px;
    position: relative;
}

#noMealWarning {
    text-align: center;
    width:80%;
    border: 2px dashed lightgrey;
    margin: 20px auto;
    padding: 30px 0;
}

/* #noMealWarning button {
    background-color:#2866b2;
    color: white;
    border: none;
    padding:10px;
    cursor: pointer;
    margin: 8px;
}

#noMealWarning button:hover {
    background-color: #99C8FF;
} */
/* 
#noMealWarning p {
    margin: 5px;
} */