#aboutProject {
    text-align: center;
    width:80%;
    margin: 0 auto;
    margin-bottom: 150px;
}

#aboutProject #gitHubLink {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

body[data-theme="light"] #aboutProject #gitHubLink {
    color: #951327;
}

body[data-theme="dark"] #aboutProject #gitHubLink {
    color: #be1730;
}


#aboutProject #introduction {
    margin:40px 20%;
}


#aboutProject #techStack{
    background-color: #951327;
    color: white;
    padding: 10px;
    margin : 80px 0;
    border-radius: 5px;
}

#aboutProject #techStack li {
    width: fit-content;
    margin: 0 auto;
}

#aboutProject #contributors {
    display : flex;
    justify-content: center;
    gap:100px;
}

#aboutProject #contributors div {
    width:fit-content;
}

#aboutProject #contributors .roundButton {
    font-size: 1.3em;
}

#aboutProject #contributors img {
    border-radius: 50%;
    width: 350px;
    margin-bottom: 35px;
}


@media screen and (max-width:600px) {
    
    #aboutProject #introduction {
        margin: 20px 0%;
        text-align: left;
    }

    #aboutProject #contributors{
        display: block;
    }

    #aboutProject #contributors div {
        margin: 30px 0;
    }

    #aboutProject #contributors img {
        width:70%;
        margin-bottom: 0px ;
    }
}
