#login {
    width:80%;
    /* border: 1px solid lightgrey; */
    background-color: #931327;
    padding:50px 0;
    margin:40px auto;
    text-align: center;
    color: white;
    border-radius: 8px;
}

#login form label {
    display: block;
    padding: 8px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#login input {
    display : block;
}

#login .textButton:hover {
    background-color: #F79285;
}

#login #unauthorized {
    padding: 8px;
    border-radius: 1px;
    border:1px solid white;
    width:fit-content;
    margin: 15px auto;
}