#login {
    width:80%;
    /* border: 1px solid lightgrey; */
    background-color: #931327;
    padding:50px 0;
    margin:40px auto;
    text-align: center;
    color: white;
    border-radius: 8px;
}

#login form label {
    display: block;
    padding: 8px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* #login form label input {
    display: block;
    margin: 8px auto;
    padding:10px 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #0d275037
    , -3px -3px 8px rgba(255, 255, 255, 0.205)
    ;
    border:none;
} */
#login input {
    display : block;
}

#login .textButton:hover {
    background-color: #F79285;
}