.Meals {
    width:50%;
    margin: 50px auto;
}

.mealContainer {
    /* background-color: rgb(237, 237, 237); */
    padding:15px;
    border-radius: 5px;
    margin:15px 0;
    box-shadow: inset 3px 3px 15px #0d275018;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mealContainer #listContainer{
    width:65%;
}

.mealContainer h3 {
    margin: 8px 0;
}

.mealContainer ul {
    padding:0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 95%;
    margin-left: 5%;

}

.mealContainer ul li {
    margin: 4px 0;
    font-size: 0.9em;
    list-style-type: none;
    padding: 0 4px;
}

.mealContainer ul li::before{
    margin:0 2px;
    content: '\2022';
}



.mealNutrients {
    margin: 0;
    border-radius: 3px;
    display: flex;
}

.mealNutrients p {
    padding: 10px;
    color: #951327;
    margin:5px;
    border-radius: 5px;
    text-align: center;
}

.mealNutrients p .amount {
    /* color: white; */
    font-family: "Super Caramel";
    font-weight: 200;
    letter-spacing: 2px;
}



.mealContainer button {
    border: none;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}




@media screen and (max-width:600px){
    .Meals {
        width:80%;
    }

    .mealContainer {
        display: block;
    }

    .mealNutrients {
        justify-content: space-evenly;
    }

    .mealContainer ul {
        display: block;
    }
}