#profile{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 150px;
}

#profileImage {
    width: 200px;
    margin: auto;
}

#profileImage img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    overflow: hidden; 
    margin-bottom: 20px;
}

#profileImage button {
    position: relative;
    top:-190px;
    left:80%;
    background-color: white;
    display: block;
}

#profileImage button:hover{
    background-color: #951327;
}

#profile p, #profile h1 {
    margin: 0;
}

#userInfo {
    display: flex;
    justify-content: center;
    gap:20%;
}

#userInfo p {
    margin : 30px 0;
}

#userInfo p span {
    font-weight: bold;
    font-size: 1.5em;
}

#flexGoalNutrients {
    display: flex;
    gap:10%;
    justify-content: center;
}

#flexGoalNutrients .roundButton {
    width:25px;
    height:25px;
}

#flexGoalNutrients .selectedType {
    background-color: #951327;
    color: white;
}

#flexGoalNutrients .roundButton:hover {
    background-color: #EA5F3A;
}
#flexGoalNutrients input {
    width:60%;
    text-align: center;
}

#flexGoalNutrients select {
    border: none;
    font-size: 1em;
    text-align: center;
    margin:10px 0
}

@media screen and (max-width:600px) {
    #flexGoalNutrients {
        display: block;
    }

    #flexGoalNutrients .nutrientDiv {
        margin:40px 0;
    }

    #flexGoalNutrients .roundButton{
        width:40px;
        height:40px
    }

    #flexGoalNutrients input {
        width:80%;
    }
}