#profile{
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

#header {
    display: flex;
    justify-content: center;
    gap:50px;
    text-align: left;
    align-items: center;
}


#header #imageAndUsername{
    width:25%;
    max-width: 250px;
}

#header h1 {
    margin: 0;
}


#header .logout {
    padding: 8px;
    margin: 0 15px;
}

#header div .modifyImage {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding:6px;
}

#header #userInfo {
    display: flex;
    justify-content: left;
    gap:50px;
}

#header #userInfo * {
    text-align: center;
}

#imageAndUsername img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden; 
}

#header:last-child{
    flex:70%;
}

/* #nutrientGoals {
    text-align: center;
    padding: 40px;
}

#nutrientGoals label {
    padding: 20px;
}

#nutrientGoals label input {
    margin-left: 10px;
}

#nutrientGoals #warning{
    color: rgb(159, 159, 159);
    font-style: italic;
}

#nutrientGrid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    padding: 40px;
} */

#nutrientInfo {
    width:80%;
    max-width: 800px;
    margin: auto;
    margin-top:38px;
    text-align: center;
    color: white;
    background-color: #951327 ;
    padding:30px;
    border-radius: 8px;
}

#flexGoalNutrients {
    display: flex;
    justify-content: center;
    gap:50px
}

#flexGoalNutrients div {
    background-color: white;
    padding:15px;
    color:#951327;
    box-shadow: inset 6px 6px 10px #0d27504e;
    border-radius: 3px;
}

#flexGoalNutrients div p {
    margin: 0;
}