#reportAnIssue {
    text-align: left;
    width: 550px;
    margin: auto;
}

#reportAnIssue * {
    display: block;
    margin-left: 0;
}

#reportAnIssue input {
    width: 65%;
}

#reportAnIssue p {
    margin-left: 15px;
}

#reportAnIssue textarea {
    width:90%;
    height:150px;
}

#reportAnIssue textarea:focus, #reportAnIssue input:focus {
    outline: solid #951327;
}


@media screen and (max-width:600px){
    #reportAnIssue {
        width : 80%;
        margin: 40px auto 150px auto;
    }

    #reportAnIssue input {
        width: 90%;
    }

    #reportAnIssue * {
        margin-left: auto;
    }
}
