#surveyLink {
    padding:10px 0;
    background-color: #FBC46C;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 30px;
}

body[data-theme="light"] #surveyLink {
    background-color: #FBC46C;
}

body[data-theme="dark"] #surveyLink {
    background-color: #f3b24a;
}

#surveyLink button {
    margin: 0 10px;
}